
@model IEnumerable<Mulligan.Core.Models.Facility>

<h1>Dashboard</h1>

@using (Html.BeginForm("Search", "Dashboard", FormMethod.Get))
{
    <input type="text" name="searchName" />
    <input type="submit" value="Search" />
}
<ejs-sidebar id="default-sidebar" closeOnDocumentClick="false">
	<e-content-template>
		<div class="title-header">
			<div style="display:inline-block"> Sidebar </div>
		</div>
	</e-content-template>
</ejs-sidebar>
<!-- end of sidebar element -->
<!--  Main Content declaration -->
<div>
	<div class="title default">Main content</div>
	<div class="sub-title">
		Place your primary content here.
	</div>
</div>

<style>
    /* sample level styles */
    .center-align {
        text-align: center;
        padding: 20px;
    }

    .title {
        text-align: center;
        font-size: 20px;
        padding: 15px;
    }

    .sub-title {
        text-align: center;
        font-size: 16px;
        padding: 10px;
    }

    body {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .title-header {
        text-align: center;
        font-size: 18px;
        padding: 15px;
    }

    .title.default {
        padding: 25px 15px 15px;
    }
    /* sidebar element styles */
    #default-sidebar {
        background-color: rgb(25, 118, 210);
        color: #ffffff;
    }
</style>
<div>
<table class="table">
    <thead>
        <tr>
            <th>Facility NCRDB ID</th>
            <th>Facility Name</th>
            <!-- Other columns... -->
        </tr>
    </thead>
    <tbody>
        @foreach (var facility in Model)
        {
            <tr>
                <td>@facility.NCRDId</td>
                <td>@facility.Name</td>
            </tr>
            <tr>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Course ID</th>
                            <th>Course Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var course in facility.Courses)
                        {
                            <tr>
                                <td>@course.NCRDId</td>
                                <td>@course.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </tr>
                <!-- Other columns... -->
        
        }
    </tbody>
</table>
</div>