<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="System.Net" switchValue="Verbose">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.Http" switchValue="Verbose">
				<listeners>
					<add name="System.Net.Http"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="System.Net" value="Verbose"/>
			<add name="System.Net.Http" value="Verbose"/>
		</switches>
		<sharedListeners>
			<add name="System.Net"
					 type="System.Diagnostics.TextWriterTraceListener"
			     initializeData="D:\Development\source\repos\Mulligan\Mulligan Console\System.Net.trace.log"/>
			<add name="System.Net.Http"
					 type="System.Diagnostics.TextWriterTraceListener"
			     initializeData="D:\Development\source\repos\Mulligan\Mulligan Console\System.Net.Http.trace.log"/>
		</sharedListeners>
		<trace autoflush="true"/>
	</system.diagnostics>
</configuration>
